#container{width:1500px;margin:0 auto}
#species{width:300px;float:left;height:300px;background:white;border-color:white;margin:10px;text-align: center;}
/*body {font:20px 宋体;margin:0px;text-align:center;}*/